p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
    color: #3D403C;
}

body {
    background-color: #F3FFFD;
}

h1 {
    font-size: 56;
}

h2 {
    text-decoration: underline;
    color: #3D403F;
}

section {
    width: 650px;
    border: black;
    border-width: 1;
    border-style: groove;
    background-color: #F3FFF0; 
}